.pokemon-card {
  box-sizing: border-box;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
  border-radius: 10px;
  justify-content: center;
  padding: 10px;
  background-color: rgb(75, 106, 190);
  line-height: 30px;
}