* {
  margin : 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 0 2%;
  background-color: yellow;
}

.card {
  display: flex;
  justify-content: center;
  margin: 2% auto;
}

.pokeCard {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px black;
  justify-content: space-around;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: rgb(146, 223, 46);
  margin: 3px;
}

.pokeCard:hover {
  cursor: pointer;
  background-color: rgb(52, 134, 19);
}

.pokeCard:active {
  cursor: pointer;
  transform: scale(1.1);
  border-bottom: solid 1px black;
}

#card-image {
  height: 50%;
  width: 50%;
}

#card-text {
  display: flex;
  /* height: 50%; */
  width: 60%;
}

#card-img {
  width: 200px;
}

.pokemon-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.pokemons {
  display: flex;
  justify-content: center;
}

.input-radio {
  display: none;
}

.pokeButton {
  border-bottom: solid 5px black;
  background-color: rgb(210, 111, 30);
  padding: 10px;
  /* transition: 0.2s; */
  margin: 20px;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
}

.pokeButton:hover {
  cursor: pointer;
  background-color: rgb(165, 144, 25);
}

.pokeButton:active {
  margin-top: 5px;
  border-bottom: solid 2px black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
