.App {
  text-align: center;
}

.card {
  display: flex;
  justify-content: center;
  margin: 2% auto;
}

.pokeCard {
  display: flex;
  border: solid 1px black;
  border-bottom: solid 5px black;;
  border-radius: 10px;
  max-width: max-content;
  padding: 10px;
}

.pokeCard:hover {
  cursor: pointer;
}

.pokeCard:active {
  cursor: pointer;
  margin-top: 4px;
  border-bottom: solid 1px black;
}

.pokeButton {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border-bottom: solid 5px black;
  background-color: rgb(153, 100, 35);
}

.pokeButton:hover {
  cursor: pointer;
}

.pokeButton:active {
  margin-top: 4px;
  border-bottom: solid 1px black;
}

.pokemons {
  display: flex;
  justify-content: center;
}

.input-radio {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
